USE [taskManager]
GO
/****** Object:  Table [dbo].[Artifacts]    Script Date: 6/22/2026 12:38:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Artifacts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](250) NOT NULL,
	[description] [nvarchar](max) NULL,
	[projectId] [int] NOT NULL,
	[parentArtifactId] [int] NULL,
	[type] [nvarchar](20) NOT NULL,
	[url] [nvarchar](2000) NULL,
	[storageKey] [nvarchar](1000) NULL,
	[uploadedBy] [int] NOT NULL,
	[createdAt] [datetime2](7) NOT NULL,
	[mimeType] [nvarchar](255) NULL,
	[sizeBytes] [bigint] NULL,
	[isArchived] [bit] NOT NULL,
 CONSTRAINT [PK_Artifacts_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Attachment]    Script Date: 6/22/2026 12:38:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attachment](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[filename] [nvarchar](255) NOT NULL,
	[downloadLink] [nvarchar](max) NOT NULL,
	[commentId] [int] NOT NULL,
	[uploadedAt] [datetime2](7) NOT NULL,
	[mimeType] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Attachment] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChangeHistory]    Script Date: 6/22/2026 12:38:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChangeHistory](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[entityType] [int] NOT NULL,
	[entityId] [int] NOT NULL,
	[changedBy] [int] NOT NULL,
	[diff] [nvarchar](max) NULL,
	[changedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ChangeHistory] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 6/22/2026 12:38:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[body] [nvarchar](max) NOT NULL,
	[taskId] [int] NOT NULL,
	[authorId] [int] NOT NULL,
	[createdAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Comment] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invitations]    Script Date: 6/22/2026 12:38:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invitations](
	[id] [int] NOT NULL,
	[token] [nvarchar](500) NOT NULL,
	[projectId] [int] NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[roleId] [int] NOT NULL,
	[expiresAt] [datetime2](7) NOT NULL,
	[accepted] [bit] NOT NULL,
 CONSTRAINT [PK_Invitations_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notes]    Script Date: 6/22/2026 12:38:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notes](
	[id] [int] NOT NULL,
	[title] [nvarchar](50) NOT NULL,
	[body] [nvarchar](max) NULL,
	[projectId] [int] NOT NULL,
	[parentNodeId] [int] NULL,
	[authorId] [int] NOT NULL,
	[updatedAt] [datetime2](7) NOT NULL,
	[isArchived] [bit] NOT NULL,
	[order] [int] NULL,
 CONSTRAINT [PK_Notes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Project]    Script Date: 6/22/2026 12:38:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Project](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](200) NOT NULL,
	[description] [nvarchar](max) NULL,
	[budget] [float] NOT NULL,
	[status] [nvarchar](50) NOT NULL,
	[templateId] [int] NOT NULL,
	[ownerId] [int] NOT NULL,
	[createdAt] [datetime2](7) NOT NULL,
	[isArchived] [bit] NOT NULL,
 CONSTRAINT [PK__Project__3213E83F017BE087] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectMembership]    Script Date: 6/22/2026 12:38:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectMembership](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[projectId] [int] NOT NULL,
	[userId] [int] NOT NULL,
	[roleId] [int] NOT NULL,
	[joinedAt] [datetime] NOT NULL,
	[isManager] [bit] NOT NULL,
 CONSTRAINT [PK_ProjectMembership] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectTemplate]    Script Date: 6/22/2026 12:38:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectTemplate](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](30) NOT NULL,
	[description] [nvarchar](max) NULL,
	[config] [nvarchar](max) NOT NULL,
	[ownerId] [int] NOT NULL,
	[isArchived] [bit] NOT NULL,
 CONSTRAINT [PK_ProjectTemplate] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 6/22/2026 12:38:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](30) NOT NULL,
	[unitRate] [decimal](18, 0) NULL,
	[rateUnit] [datetime2](7) NULL,
 CONSTRAINT [PK_ProjectRoleLabel] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subscription]    Script Date: 6/22/2026 12:38:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subscription](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[taskId] [int] NULL,
	[projectId] [int] NULL,
 CONSTRAINT [PK_Subscription] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Task]    Script Date: 6/22/2026 12:38:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Task](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[statusId] [int] NOT NULL,
	[priority] [nvarchar](50) NOT NULL,
	[assigneeId] [int] NULL,
	[authorId] [int] NOT NULL,
	[projectId] [int] NOT NULL,
	[startDate] [datetime2](7) NOT NULL,
	[dueDate] [datetime2](7) NULL,
	[estimatedBudget] [decimal](18, 2) NULL,
	[estimatedUnit] [nvarchar](20) NULL,
 CONSTRAINT [PK_Task] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskStatuses]    Script Date: 6/22/2026 12:38:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskStatuses](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[projectId] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[color] [nvarchar](50) NULL,
 CONSTRAINT [PK_Statuses] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/22/2026 12:38:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](20) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[passwordHash] [nvarchar](50) NOT NULL,
	[salt] [nvarchar](10) NOT NULL,
	[isAdmin] [bit] NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Artifacts] ADD  DEFAULT (getutcdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[Artifacts] ADD  CONSTRAINT [DF_Artifacts_isArchived]  DEFAULT ((0)) FOR [isArchived]
GO
ALTER TABLE [dbo].[Attachment] ADD  CONSTRAINT [DF_Attachment_uploadedAt]  DEFAULT (getutcdate()) FOR [uploadedAt]
GO
ALTER TABLE [dbo].[ChangeHistory] ADD  CONSTRAINT [DF_ChangeHistory_changedAt]  DEFAULT (getutcdate()) FOR [changedAt]
GO
ALTER TABLE [dbo].[Comment] ADD  CONSTRAINT [DF_Comment_createdAt]  DEFAULT (getutcdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[Notes] ADD  CONSTRAINT [DF_Notes_updatedAt]  DEFAULT (getutcdate()) FOR [updatedAt]
GO
ALTER TABLE [dbo].[Project] ADD  CONSTRAINT [DF_Project_isArchived]  DEFAULT ((0)) FOR [isArchived]
GO
ALTER TABLE [dbo].[ProjectMembership] ADD  CONSTRAINT [DF_ProjectMembership_joinedAt]  DEFAULT (getutcdate()) FOR [joinedAt]
GO
ALTER TABLE [dbo].[ProjectTemplate] ADD  CONSTRAINT [DF_ProjectTemplate_isArchived]  DEFAULT ((0)) FOR [isArchived]
GO
ALTER TABLE [dbo].[Task] ADD  CONSTRAINT [DF_Task_startDate]  DEFAULT (getutcdate()) FOR [startDate]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_isActive]  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[Artifacts]  WITH CHECK ADD  CONSTRAINT [FK_Artifacts_Project] FOREIGN KEY([projectId])
REFERENCES [dbo].[Project] ([id])
GO
ALTER TABLE [dbo].[Artifacts] CHECK CONSTRAINT [FK_Artifacts_Project]
GO
ALTER TABLE [dbo].[Attachment]  WITH CHECK ADD  CONSTRAINT [FK_Attachment_Comment] FOREIGN KEY([commentId])
REFERENCES [dbo].[Comment] ([id])
GO
ALTER TABLE [dbo].[Attachment] CHECK CONSTRAINT [FK_Attachment_Comment]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Task] FOREIGN KEY([taskId])
REFERENCES [dbo].[Task] ([id])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Task]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Users] FOREIGN KEY([authorId])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Users]
GO
ALTER TABLE [dbo].[Invitations]  WITH CHECK ADD  CONSTRAINT [FK_Invitations_Roles] FOREIGN KEY([roleId])
REFERENCES [dbo].[Roles] ([id])
GO
ALTER TABLE [dbo].[Invitations] CHECK CONSTRAINT [FK_Invitations_Roles]
GO
ALTER TABLE [dbo].[Notes]  WITH CHECK ADD  CONSTRAINT [FK_Notes_Notes] FOREIGN KEY([projectId])
REFERENCES [dbo].[Project] ([id])
GO
ALTER TABLE [dbo].[Notes] CHECK CONSTRAINT [FK_Notes_Notes]
GO
ALTER TABLE [dbo].[Notes]  WITH CHECK ADD  CONSTRAINT [FK_Notes_Users] FOREIGN KEY([authorId])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Notes] CHECK CONSTRAINT [FK_Notes_Users]
GO
ALTER TABLE [dbo].[Project]  WITH CHECK ADD  CONSTRAINT [FK_Project_Users] FOREIGN KEY([ownerId])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Project] CHECK CONSTRAINT [FK_Project_Users]
GO
ALTER TABLE [dbo].[ProjectMembership]  WITH CHECK ADD  CONSTRAINT [FK_ProjectMembership_Project] FOREIGN KEY([projectId])
REFERENCES [dbo].[Project] ([id])
GO
ALTER TABLE [dbo].[ProjectMembership] CHECK CONSTRAINT [FK_ProjectMembership_Project]
GO
ALTER TABLE [dbo].[ProjectMembership]  WITH CHECK ADD  CONSTRAINT [FK_ProjectMembership_Roles] FOREIGN KEY([roleId])
REFERENCES [dbo].[Roles] ([id])
GO
ALTER TABLE [dbo].[ProjectMembership] CHECK CONSTRAINT [FK_ProjectMembership_Roles]
GO
ALTER TABLE [dbo].[ProjectMembership]  WITH CHECK ADD  CONSTRAINT [FK_ProjectMembership_Users] FOREIGN KEY([userId])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[ProjectMembership] CHECK CONSTRAINT [FK_ProjectMembership_Users]
GO
ALTER TABLE [dbo].[ProjectTemplate]  WITH CHECK ADD  CONSTRAINT [FK_ProjectTemplate_Users] FOREIGN KEY([ownerId])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[ProjectTemplate] CHECK CONSTRAINT [FK_ProjectTemplate_Users]
GO
ALTER TABLE [dbo].[Subscription]  WITH CHECK ADD  CONSTRAINT [FK_Subscription_Project] FOREIGN KEY([projectId])
REFERENCES [dbo].[Project] ([id])
GO
ALTER TABLE [dbo].[Subscription] CHECK CONSTRAINT [FK_Subscription_Project]
GO
ALTER TABLE [dbo].[Subscription]  WITH CHECK ADD  CONSTRAINT [FK_Subscription_Task] FOREIGN KEY([taskId])
REFERENCES [dbo].[Task] ([id])
GO
ALTER TABLE [dbo].[Subscription] CHECK CONSTRAINT [FK_Subscription_Task]
GO
ALTER TABLE [dbo].[Subscription]  WITH CHECK ADD  CONSTRAINT [FK_Subscription_Users] FOREIGN KEY([userId])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Subscription] CHECK CONSTRAINT [FK_Subscription_Users]
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD  CONSTRAINT [FK_Task_Project] FOREIGN KEY([projectId])
REFERENCES [dbo].[Project] ([id])
GO
ALTER TABLE [dbo].[Task] CHECK CONSTRAINT [FK_Task_Project]
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD  CONSTRAINT [FK_Task_TaskStatuses] FOREIGN KEY([statusId])
REFERENCES [dbo].[TaskStatuses] ([id])
GO
ALTER TABLE [dbo].[Task] CHECK CONSTRAINT [FK_Task_TaskStatuses]
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD  CONSTRAINT [FK_Task_Users] FOREIGN KEY([assigneeId])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Task] CHECK CONSTRAINT [FK_Task_Users]
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD  CONSTRAINT [FK_Task_Users1] FOREIGN KEY([authorId])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Task] CHECK CONSTRAINT [FK_Task_Users1]
GO
ALTER TABLE [dbo].[ProjectTemplate]  WITH CHECK ADD  CONSTRAINT [CHK_ProjectTemplates_Config_IsJSON] CHECK  ((isjson([Config])>(0) OR [Config] IS NULL))
GO
ALTER TABLE [dbo].[ProjectTemplate] CHECK CONSTRAINT [CHK_ProjectTemplates_Config_IsJSON]
GO
